// The whole mid section
.site-content {
	max-width: $size__site-container;
	margin: 0 auto;

}

// The content area
.content-area {
	float: none;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: 100%;
	padding: 15px;
	background-color: #ddd;
	@include atMedium {
		float: left;
		width: $size__site-main;
	}
}

// The main section inside the content area
.site-main {
	padding: 0;
}

// Sidebar area
.widget-area {
	overflow: hidden;
	padding: 15px;
	width: 100%;

	@include atMedium {
		float: right;
		width: $size__site-sidebar;
	}
}

// Footer area
.site-footer {
	clear: both;
	width: $size__site-container;
	margin: 0 auto;
}